ion-title{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}
ion-header{
    padding-left: 0.5em;
    padding-top: 3em;
    padding-right: 0.5em;
    padding-bottom: 3em;
}