<ion-content>
  <app-header></app-header>
  <ion-card>
    <ion-card-header>
      <ion-img src="assets/TIG.png"></ion-img> 
    </ion-card-header>
  
    <ion-card-content>
      <p class="contact-desc">
        <span>06.63.99.99.78</span>
        <span>lebateaudethibault@gmail.com</span>
        <span>www.facebook.com/lebateaudethibault</span>
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec scelerisque pretium risus vitae mollis. Ut ullamcorper venenatis varius. Mauris arcu.
      </p>
    </ion-card-content>
  </ion-card>
   
</ion-content>