<ion-content>
  <ion-header class="ion-no-border">
    <ion-title>
      {{ data.name }}
    </ion-title>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-img src={{data.imgUrl}}></ion-img> 
    </ion-card-header>
  
    <ion-card-content>
      <p class="bateau-desc">
        <span>XXX YYY ZZZ</span>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec scelerisque pretium risus vitae mollis. Ut ullamcorper venenatis varius. Mauris arcu.
      </p>
    </ion-card-content>
  </ion-card>
   
</ion-content>