<ion-content>
  <app-cart-header></app-cart-header>
  <ion-header class="ion-no-border">
    <ion-title>
      Choisissez vos {{ data.name }}
    </ion-title>
  </ion-header>
  <ion-card class="product-choice-card" >
    <ion-item *ngFor ="let product of apiData">
      <ion-icon slot="start" name="fish"></ion-icon>
      <ion-label>{{ product.name }}</ion-label>
      <div slot="end">
        <ion-icon button (click)="addToCart(cart, product)" slot="end" name="add"></ion-icon>
        <span class="app-added-to-cart" #cart>
          <ion-icon button slot="start" name="remove" (click)="removeFromCart(cart,product)"></ion-icon>
          OK
        </span>
        {{ product.price }}€
      </div>
    </ion-item>
  </ion-card>
</ion-content>
