<ion-content>
  <app-cart-header></app-cart-header>
  <ion-header class="ion-no-border">
    <ion-title>
      Choisissez vos produits
    </ion-title>
  </ion-header>
  <ion-card class="products-buttons-card">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item button (click)="openBoatWithNamePoissons()">
            <ion-icon slot="start" name="fish"></ion-icon>
            <ion-label>Poissons</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item button (click)="openBoatWithNameCoquillages()">
            <ion-icon slot="start" name="fish"></ion-icon>
            <ion-label>Coquillage</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item button (click)="openBoatWithNameCrustaces()">
            <ion-icon slot="start" name="fish"></ion-icon>
            <ion-label>Crustacés</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item button>
            <ion-icon slot="start" name="fish"></ion-icon>
            <ion-label>Promotions</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
