<app-header></app-header>

<ion-content [fullscreen]="true">
  <ion-card> 
    <ion-card-content>
      <p class="home-desc">
        <span>Vente en direct de notre bateau.</span>
        <span>Produits selon la saison, Livraisons sur Paris.</span>
        <span>06.63.99.99.78</span>
        <span>lebateaudethibault@gmail.com</span>
        <span>www.facebook.com/lebateaudethibault</span>
      </p>
    </ion-card-content>
  </ion-card>
  
  <ion-card class="button-card">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item button>
            <ion-icon slot="start" name="fish"></ion-icon>
            <ion-label>Produits et promotions</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-item button>
            <ion-icon slot="start" name="Link"></ion-icon>
            <ion-label>Bateaux</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item button>
            <ion-icon slot="start" name="pin"></ion-icon>
            <ion-label>Restaurants</ion-label>
          </ion-item> 
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-item button>
            <ion-icon slot="start" name="restaurant"></ion-icon>
            <ion-label>Recettes</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item button>
            <ion-icon slot="start" name="call"></ion-icon>
            <ion-label>Contact</ion-label>
          </ion-item> 
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>