ion-card{
    background-color: transparent;
    box-shadow: none !important;
    padding: 2em 0 2em 0;
}
.home-desc{
    text-align: center;
    color: black;
}
.home-desc span{
    display: block;
}
.button-card ion-item{
    --background: rgba(0, 0, 0, 0.4);
}