ion-card{
    background-color: transparent;
    box-shadow: none !important;
}
.home-desc{
    text-align: center;
    color: black;
    font-size: 1.5em;
}
.home-desc span{
    display: block;
}
.button-card ion-item{
    --background: rgba(0, 0, 0, 0.4);
    border-radius: 1em;
    margin-top: 2em;
    height: 3em;
}